@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

@*<body>
    <div style=" text-align: center; border-top: 0px solid transparent; border-bottom: 40px solid transparent">
        <img style=" width: 400px; height: 160px; object-fit:fill;" src="~/Logos/logo_4wt.png"
             title="IDealBooks" />
    </div>
</body>*@


<body style="background-image: url('../Logos/bkteste6.jpg');
    background-repeat: repeat; background-size: 360px">
    
    @*<div style=" text-align: center; border-top: 0px solid transparent; border-bottom: 40px solid transparent">
        <img style=" width: 400px; height: 160px; object-fit:fill;" src="~/Logos/logo_4wt.png"
             title="IDealBooks" />
    </div>*@

</body>

@*<body style="background-image: url('../Logos/bkteste2.jpg');
    width:100%; height:100%; top: 0; left: 0; bottom: 0; right: 0;
    position: absolute;
    background-repeat: repeat;
    background-size: cover;">

    <div style=" text-align: center; border-top: 0px solid transparent; border-bottom: 40px solid transparent">
        <img style=" width: 400px; height: 160px; object-fit:fill;" src="~/Logos/logo_4wt.png"
             title="IDealBooks" />
    </div>

</body>*@