@model BookSelling.Models.Reviews

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Reviews</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdReview" />
            <div class="form-group">
                <label asp-for="Comentario" class="control-label">Comment</label>
                <textarea asp-for="Comentario" style="width:600px;height:60px" class="form-control"><</textarea>
                <span asp-validation-for="Comentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pontuacao" class="control-label">Rating</label>
                <input asp-for="Pontuacao" class="form-control" />
                <span asp-validation-for="Pontuacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label hidden asp-for="Data" class="control-label">Date</label>
                <input hidden asp-for="Data" class="form-control" />
                <span hidden asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label hidden class="form-check-label">
                    <input hidden class="form-check-input" asp-for="Visibilidade" /> @Html.DisplayNameFor(model => model.Visibilidade)
                </label>
            </div>
            <div class="form-group">
                <label hidden asp-for="UtilizadoresFK" class="control-label"></label>
                <select hidden asp-for="UtilizadoresFK" class="form-control" asp-items="ViewBag.UtilizadoresFK"></select>
                <span hidden asp-validation-for="UtilizadoresFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label hidden asp-for="AdsFK" class="control-label"></label>
                <select hidden asp-for="AdsFK" class="form-control" asp-items="ViewBag.AdsFK"></select>
                <span hidden asp-validation-for="AdsFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Advertisements" asp-action="Details" asp-route-id="@Model.AdsFK">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
