@model IEnumerable<BookSelling.Models.Favorite>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/ImagemFavorites.css" />
</head>

<body style="background-image: url('../Logos/bkteste6.jpg');
    background-repeat: repeat; background-size: 360px">
</body>

<h1>Lista de Favoritos</h1>
<h1>Favorites List</h1>
@{
    <br />
    int i = 0;
    @foreach (var item in Model) {
        if (item.Utilizadores.Email == User.Identity.Name)
        {
            i++;
            <div class="Favorite">
                <a asp-action="Details" asp-route-id="@item.AdvertisementID">
                <img class="ImagemFavs" src="~/Photos/@Html.DisplayFor(modelItem => item.Advertisement.Photo)" />
                <div class="overlay">
                    <div class="text">
                        @Html.DisplayFor(modelItem => item.Advertisement.Title)
                    </div>
                </div>
                </a>
            </div>
        }

    }

    if (i == 0)
    {
        <h3>You don't have any favorites.</h3>
    }
}